@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.eot');
  src: url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.woff') format('woff'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.otf') format('opentype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.ttf') format('truetype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Regular.svg#Gilroy') format('svg');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.eot');
  src: url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.woff') format('woff'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.otf') format('opentype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.ttf') format('truetype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Medium.svg#Gilroy') format('svg');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.eot');
  src: url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.woff') format('woff'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.otf') format('opentype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.ttf') format('truetype'),
    url('https://d1nzwmcp9dgg5h.cloudfront.net/fonts/Gilroy-Bold.svg#Gilroy') format('svg');
} */
